.btn {
  display: block;
  width: 256px;
  height: 48px;
  margin: 40px auto;
  line-height: 48px;
  border: 2px solid $ghost-btn-color;
  color: $ghost-btn-color;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  @include clear-arrow;
}

.btn:hover {
  background-color: $ghost-btn-color;
  color: white;
}

.btn:active {
  background-color: $ghost-btn-color;
  color: rgba(255,255,255,0.7);
}
