@mixin clear-arrow() {
  text-decoration: none;
}

@mixin clear-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin container() {
  min-width: 320px;
  margin: 0 auto;

  @media #{$tablet-width} {
    width: 668px;
  }

  @media #{$desktop-width} {
    width: 1050px;
  }
}

@mixin container-fluid {
  min-width: 260px;
  width: 81%;
  margin: 0 auto;

  @media #{$tablet-width} {
    min-width: 668px;
    width: 87%;
  }

  @media #{$desktop-width} {
    min-width: 1050px;
    width: 91%;
  }
}

@mixin bg-picture() {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
