$bg-color: #f1f1f1;
$light-btn-color: #63d1bb;
$dark-btn-color: #56c3b2;
$light-btn-change-color: #59d5bc;
$dark-btn-change-color: #46c1ae;
$select-color: #62d1ba;
$text-color-black: #000000;
$text-color-green: #46c1ae;
$ghost-btn-color: #444444;
$ghost-btn-color-opacity: rgba(68,68,68,0.3);
$shadow: #ececec;
$dark-shadow: #c7c7c7;

$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1150px)";
