.catalog-section {
  margin-top: -72px;
}

.catalog-section__buttons {
  @include clear-list;
}

.catalog-section__btn {

  & a {
    @include clear-arrow;
    display: block;
    color: $white;
    font-size: 19px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    vertical-align: middle;
    padding: 40px 9.4%;
  }

}

.catalog-section__btn--light {
  background-color: $light-green;
  & a {
    background-image: url("../img/icon-interior.svg");
    background-size: 41px 62px;
    background-position: right center;
    background-repeat: no-repeat;
  }

}

.catalog-section__btn--dark {
  background-color: $dark-green;
  & a {
    background-image: url("../img/icon-toy.svg");
    background-size: 61px 61px;
    background-position: right center;
    background-repeat: no-repeat;
  }

}

@media #{$tablet-width} {

  .catalog-section {
    width: 87%;
    margin: 0 auto;
    margin-top: -90px;
    z-index: 1;
  }

  .catalog-section__buttons {
    @include clearfix;
  }

  .catalog-section__btn {
  margin: 0;
  padding: 0 35px;
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  & a {
    font-size: 20px;
    line-height: 30px;
    padding: 45px 0;
    }
  }

  .catalog-section__btn--light {
    float: left;
  }

  .catalog-section__btn--dark {
    float: right;
  }
}

@media #{$desktop-width} {

  .catalog-section__btn {
  }

}
