.catalog {

  &__item {
    width: 260px;
    border: 1px solid $shadow;
  }
  &__item-title {
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
  }
  &__item-desc {
    font-size: 13px;
    line-height: 30px;
  }
  &__item-price {
    display: block;
    margin: auto 27px;
    line-height: 24px;
    font-weight: bold;
    border-top: 1px solid $shadow;
  }
}
