.features {
  @include container;
  padding: 0 30px;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    z-index: 10;
    background-image: radial-gradient(circle at 10px 3px, transparent 12px, white 13px),
                      radial-gradient(circle at 10px 18px, white 12px, transparent 13px),
                      radial-gradient(circle at 10px 0, transparent 12px, $shadow 13px),
                      radial-gradient(circle at 10px 15px, $shadow 12px, transparent 13px);
    background-position: left bottom,
                         left bottom,
                         left bottom,
                         left bottom;
    background-size: 20px 20px,
                     40px 20px,
                     20px 20px,
                     40px 20px;
    background-repeat: repeat-x;
  }
}

.features__title {
  text-align: left;
  padding-left: 30px;
}

.features__list {
  @include clear-list;
}

.features__item {
  margin: 0 auto;
  padding: 17px 0;
  width: 260px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.features__item--eco::before {
  background-image: url("../img/icon-feature-1.svg");
}
.features__item--scandic::before {
  background-image: url("../img/icon-feature-3.svg");
}
.features__item--like::before {
  background-image: url("../img/icon-feature-5.svg");
}
.features__item--hand::before {
  background-image: url("../img/icon-feature-2.svg");
}
.features__item--support::before {
  background-image: url("../img/icon-feature-4.svg");
}
.features__item--gift::before {
  background-image: url("../img/icon-feature-6.svg");
}

@media #{$tablet-width} {

  .features__title {
    font-size: 43px;
    line-height: 50px;
  }

  .features__list {
    columns: 334px 2;
  }

  .features__item {
    margin: 0;
    width: 332px;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 50px;
    font-size: 20px;
    line-height: 22px;
  }

}

@media #{$desktop-width} {

  .features__title {
    font-size: 53px;
    line-height: 57px;
  }

  .features__list {
    padding-left: 175px;
  }

  .features__item {
    width: 350px;
  }

}
