.feedbacks {
  @include container;
  margin-bottom: 40px;
}

.feedbacks__title {
  padding-left: 30px;
  font-weight: bold;
  line-height: 30px;
}
.feedbacks__item {
  line-height: 30px;
  color: $ghost-btn-color;
  & cite {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: $text-color-black;
  }
  & a {
    @include clear-arrow;
    color: $ghost-btn-color;
    font-size: 17px;
    font-weight: normal;
  }

}

.feedbacks__arrows {
  text-align: center;
  margin: 35px 0;
}

.feedbacks__arrow {
  display: inline-block;
  width: 130px;
  box-sizing: border-box;
  height: 50px;
  border: 1px solid $shadow;
}

.feedbacks__arrow--right {
  background-image: url("../img/icon-right-arrow.svg");
  @include bg-picture;
  background-size: 50px 28px;
}

.feedbacks__arrow--left {
  background-image: url("../img/icon-left-arrow.svg");
  @include bg-picture;
  background-size: 50px 28px;
}

@media #{$tablet-width} {

  .feedbacks {
    position: relative;
    padding: 75px 0 40px 0;
    margin-bottom: 65px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top left;
  }

  .feedbacks__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .feedbacks__item {
    font-size: 17px;
    & p {
      margin-bottom: 70px;
    }

    & cite {
      display: block;
      width: 334px;
    }

  }

  .feedbacks__arrows {
    position: absolute;
    bottom: 30px;
    right: 0;
  }

  .feedbacks__arrow {
    width: 80px;
    border: none;
  }

  .feedbacks__btn {
    width: 175px;
    position: absolute;
    top: 75px;
    right: 0;
  }

}
