.feedbacks {
  margin-bottom: 80px;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 7px;
  }
}

.feedbacks__wrapper {
  min-width: 260px;
  width: 81%;
  margin: 0 auto;
}

.feedbacks__title {
  font-weight: bold;
  line-height: 30px;
}

.feedbacks__item {
  line-height: 30px;
  color: $dark-gray;
  margin: 0 auto;
}

.feedbacks__item cite {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: $black;
}

.feedbacks__item a {
  @include clear-arrow;
  color: $dark-gray;
  font-size: 17px;
  font-weight: normal;
}

.feedbacks__arrows {
  width: auto;
  text-align: center;
  margin: 35px auto;
}

.feedbacks__arrow {
  display: inline-block;
  vertical-align: middle;
  width: 130px;
  box-sizing: border-box;
  height: 50px;
  border: 1px solid $shadow;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.feedbacks__arrow--right {
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 28px;
}

.feedbacks__arrow--left {
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 28px;
  border-right: none;
  margin-right: -4px;
}

@media #{$tablet-width} {

  .feedbacks {
    padding: 75px 0 40px 0;
    margin-bottom: 150px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top left;

    @media #{$retina} {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .feedbacks::after {
    bottom: -93px;
    height: 15px;
    background-size: auto 15px;
  }

  .feedbacks__wrapper {
    width: 668px;
  }

  .feedbacks__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .feedbacks__items {
    position: relative;
  }

  .feedbacks__item {
    font-size: 17px;
  }

  .feedbacks__item p {
    margin-bottom: 70px;
    max-width: 780px;
  }

  .feedbacks__item cite {
    display: block;
    width: 334px;
    font-size: 17px;
    line-height: 24px;
  }

  .feedbacks__arrows {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
  }

  .feedbacks__arrow {
    width: 80px;
    border: none;
  }

  .feedbacks__btn {
    width: 175px;
    position: absolute;
    top: -100px;
    right: 0;
  }

}

@media #{$desktop-width} {

  .feedbacks {
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 90px;
    padding-left: 175px;
    padding-top: 67px;
    padding-bottom: 80px;
    box-sizing: border-box;
  }

  .feedbacks::after {
    bottom: -85px;
    height: 25px;
    background-size: auto 25px;
  }

  .feedbacks__wrapper {
    width: 875px;
  }

  .feedbacks__title {
    font-size: 53px;
    line-height: 57px;
  }

  .feedbacks__item p {
    margin-bottom: 40px;
  }

}
