.footer-bottom {
  background-color: $bg-color;
  margin-top: 40px;
}

.footer-bottom__logo {
  display: none;
}

.footer-bottom__social {
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 25px 0;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.footer-bottom__copyright {
  font-size: 19px;
  line-height: 18px;
  padding: 30px 0;
  text-align: center;
  font-weight: bold;
}

.footer-bottom__social--insta,
.footer-bottom__social--fb,
.footer-bottom__social--tw {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

.footer-bottom__social--insta {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.footer-bottom__social--fb {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.footer-bottom__social--tw {
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.footer-bottom__copyright-logo {
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 27px;
  height: 34px;
  margin-left: 29px;
  position: relative;
  top: 10px;
}

@media #{$tablet-width} {

  .footer-bottom {
    @include clearfix;
    padding: 46px 0;
  }

  .footer-bottom--wrapper {
    @include container;
    text-align: center;
  }

  .footer-bottom__logo {
    display: block;
    width: 105px;
    height: 50px;
    float: left;
  }

  .footer-bottom__social {
    border: none;
    padding: 0;
    display: inline-block;
    margin: 0 auto;
  }

  .footer-bottom__copyright {
    float: right;
    padding: 0;
  }

}

@media #{$desktop-width} {

  .footer-bottom__logo {
    display: none;
  }

}
