.footer-bottom {
  background-color: $bg-color;
  &__social {

  }
  &__copyright {
    font-size: 19px;
    font-weight: bold;
  }
  &__social--insta,
  &__social--fb,
  &__social--tw {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  &__social--insta {
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }
  &__social--fb {
    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }
  &__social--tw {
    background-image: url("../img/icon-twitter.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }

  &__copyright-logo {
    background-image: url("../img/htmlacademy.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    width: 27px;
    height: 34px;
  }
}
