.footer-bottom {
  background-color: $bg-color;
  margin-top: 40px;
}

.footer-bottom__flex {
  display: flex;
  flex-direction: column;
}

.footer-bottom__logo {
  display: none;
}

.footer-bottom__social {
  display: block;
  width: 100%;
  padding: 25px 0;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.footer-bottom__copyright {
  display: block;
  font-size: 19px;
  line-height: 18px;
  padding: 30px 0;
  text-align: center;
  font-weight: bold;
}

.footer-bottom__social--insta,
.footer-bottom__social--fb,
.footer-bottom__social--tw {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

.footer-bottom__social--tw {
  margin-right: 0;
}

.footer-bottom__social--insta {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.footer-bottom__social--fb {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}
.footer-bottom__social--tw {
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.footer-bottom__copyright-logo {
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 27px;
  height: 34px;
  margin-left: 29px;
  vertical-align: middle;
}

@media #{$tablet-width} {

  .footer-bottom {
    @include clearfix;
    padding: 46px 0;
  }

  .footer-bottom__flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-bottom__logo {
    display: block;
    width: 105px;
    height: auto;
    flex-basis: 167px;
  }

  .footer-bottom__social {
    flex-basis: 167px;
    border: none;
    padding: 0;
  }

  .footer-bottom__copyright {
    flex-basis: 185px;
    min-width: 200px;
    padding: 0;
  }

}

@media #{$desktop-width} {

  .footer-bottom__logo {
    visibility: hidden;
  }

}
