.page-header {
  background-color: $bg-color;
  padding-top: 75px;
  padding-bottom: 60px;
}

.page-header--pic {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 120px;
}

.page-header__title {
  margin: 0 auto;
  width: 82%;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

@media #{$tablet-width} {

  .page-header {
    margin-top: -75px;
  }

  .page-header--pic {
    margin-top: -65px;
    padding-top: 155px;
    padding-bottom: 320px;
    border-top: 1px solid $shadow;
  }

  .page-header__title {
    font-size: 43px;
    line-height: 50px;
  }

}

@media #{$desktop-width} {

  .page-header--pic {
    margin-top: -75px;
    padding-top: 160px;
    padding-bottom: 410px;
  }

  .page-header__title {
    font-size: 53px;
    line-height: 57px;
  }

}
