.top-bar {
  width: 90%;
  min-width: 320px;
  @include container;
  @include clearfix;
}

.top-bar__wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 22px 0;
  @include clearfix;
}

.top-bar__logo {
  margin: 0 auto;
  width: 86px;
  height: 35px;
}

.top-bar-nav__toggle {
  position: absolute;
  top: 28px;
  right: 0;
  width: 22px;
  height: 22px;
  border: none;
  background-color: inherit;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: auto;
    width: 20px;
    height: 2px;
    background-color: $text-color-black;
    box-shadow: 0 6px $text-color-black,
                0 -6px $text-color-black;
  }

}

.top-bar-nav--closed {

}


.top-bar-nav__list,
.top-bar-nav__user-list,
.top-bar-nav__feature-list {
  @include clear-list;
}

.top-bar-nav__item {
  margin: 0;
  padding: 0;
}

.top-bar-nav__item a,
.top-bar-nav__user-search,
.top-bar-nav__user-basket {
  @include clear-arrow;
  display: block;
  padding: 28px 0;
  color: $text-color-black;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  border-top: 1px solid $shadow;
  border-bottom: 1px solid $shadow;
}

.top-bar-nav__user-search::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 30px;
  background-image: url("../img/icon-search.svg");
  @include bg-picture;
  background-size: 22px 22px;
}

.top-bar-nav__user-basket::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 30px;
  background-image: url("../img/icon-cart.svg");
  @include bg-picture;
  background-size: 22px 22px;
}

.top-bar-nav__feature-list {
  display: none;
}

.top-bar__feature {
  display: none;
}

@media #{$tablet-width} {

  .top-bar {
    position: relative;
  }

  .top-bar__wrapper {
    width: 350px;
    float: left;
  }

  .top-bar__logo {
    margin: 0;
    float: left;
  }

  .top-bar-nav__toggle {
    display: none;
  }

  .top-bar-nav__list {
    float: left;
    width: 334px;
  }

  .top-bar-nav__item {
    display: inline-block;
    margin-right: 35px;
    border: none;

    &:last-child {
      margin-right: 0;
    }

    & a {
      border: none;
    }

  }

  .top-bar-nav__user-list {
    position: absolute;
    top: 0;
    right: 0;
  }

  .top-bar-nav__user-item {
    display: inline-block;
    border: none;
    border-left: 1px solid $shadow;
  }

  .top-bar-nav__user-search {
    font-size: 0px;
    color: inherit;
    border: none;
    padding: 23px 0 23px 30px;
  }

  .top-bar-nav__user-basket {
    border: none;
    padding-left: 30px;
  }

  .top-bar__feature {
    display: block;
    margin: 0;
    float: right;
    padding: 28px 0;
  }
}

@media #{$desktop-width} {

  .top-bar__wrapper {
    width: 100%;
  }

  .top-bar__logo {
    margin: 0 auto;
    float: none;
  }

  .top-bar-nav__list {
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  .top-bar-nav__item {
    border-right: 1px solid $shadow;
    padding-right: 35px;

    &:last-child {
      border-right: none;
    }
  }

  .top-bar-nav__feature-list {
    display: block;
    float: left;

    & a {
      @include clear-arrow;
    }
  }

  .top-bar-nav__feature-item {
    @include clear-list;
    display: inline-block;
    margin: 0;
    padding: 25px 30px 25px 0;

    & a {
      color: $text-color-black;
      line-height: 24px;
      font-weight: bold;
    }
  }
}
